@font-face {
   font-family: 'Neo Tech';
   src: url('./fonts/Neo-Tech.ttf');
}

@font-face {
   font-family: "Knewave";
   src: url('./fonts/knewave.ttf');
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background: #efefef;
   font-family: "Knewave";
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
}

header {
   width: 100%;
   height: 15%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5em;
   background-color: #FF0000;
}

header img {
   width: 120px;
   height: 120px;
}

header h1 {
   font-family: 'Neo Tech';
   font-size: 35px;
}

.home {
   /* animation: fadeout-up 1s; */
   display: none;
}

.titulo {
   margin: 20px;
}

.body-container {
   display: flex;
   flex-direction: column;
   width: 80%;
   height: 80%;
   align-self: center;
   margin: auto;
   margin-top: 30px;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.container img {
   width: 40%;
}

.container p {
   font-size: 25px;
   width: 40%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.seta-baixo {
   width: 100px;
   cursor: pointer;
   align-self: center;
}

.content {
   display: flex;
   width: 100vw;
   align-items: center;
}

#bushido-img {
   width: 50%;
   align-self: center;
}

#img-autocontrole {
   width: 35%;
}

#div-autocontrole {
   gap: 5rem;
}

.topicosEsquerdos,
.topicosDireitos {
   display: flex;
   top: auto;
   flex-direction: column;
   width: 200px;
   height: auto;
   padding: 10px;
   background-color: #D9D9D9;
   border-radius: 100px;
   margin: 10px;
   cursor: pointer;
}

.topicosEsquerdos {
   margin-left: -9vh;
}

.topicosEsquerdos p {
   padding-left: 85px;
}

.topicosDireitos {
   margin-right: -9vh;
}

.topicosDireitos p {
   padding-right: 85px;
}

.divs-modal {
   height: 100%;
   flex-direction: column;
   justify-content: space-around;
   display: none;
}

.content-modal {
   display: flex;
   width: 100%;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   /* gap: 2em; */
}

.titulo-modal {
   margin: 10px;
   font-size: 30px;
}

.img-cards {
   width: 50%;
}

#img-passaro {
   width: 25%;
}

.paragrafos-cards {
   width: 100%;
   font-size: 20px;
}

.fecharModalDireito,
.fecharModalEsquerdo {
   width: 20px;
   height: 20px;
   padding: 20px;
   border-radius: 100%;
   background-color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   cursor: pointer;
}

.X {
   font-size: 30px;
   font-weight: bold;
   color: #393737;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fadein-paragrafo {
   animation: fadein 1s forwards;
   animation-fill-mode: both;
}

.fadeout-paragrafo {
   animation: fadeout .5s forwards;
   animation-fill-mode: both;
}

.fadein-conteudo {
   display: flex;
   animation: fadein 1s forwards;
   animation-fill-mode: both;
}

.fadeout-conteudo {
   animation: fadeout .5s forwards;
   animation-fill-mode: both;
}

.abrir-modal-esquerdo {
   animation: abrir-modal-esquerdo 1.5s forwards;
}

.fechar-modal-esquerdo {
   animation: fechar-modal-esquerdo 1s forwards;
   animation-fill-mode: both;
}

/* estilizações globais */

.align-center {
   align-self: center;
}